.title {
  color: white;
  background-color: #191616;
  text-align: center;
  margin:0;
 
}

.navbar {
  background-color: #ffffff;
  
}
.nav-item {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

.grid{
  margin: 0px 100px;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  gap: 50px 50px;
  border-style: none;
 }

 .card-name {
   text-align: center;
   font-weight: bold;
 }